<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Events Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1 style="color: blue;">Welcome to  Events application</h1>
    {{{body}}}
</div>
<div style="background-color: beige; width:50%; border:mediumvioletred">
  <h3 style="color: blue;margin-left:35%;font-weight: 800;font-size:30px">Add an event</h2>
    <div style="background-color: mintcream;margin:5%">
    <form action="/event" method="post">
       <span style="color: blue;margin-left:10%">Title: </span> <input style="color: black; margin: 30px; padding: 10px; width:50%; font-family: 'Times New Roman', Times, serif" name="title" type="text" /> <br />
       <span style="color: blue;margin-left:10%">Description:</span> <input style="color: black; margin: 10px; padding: 10px; width:50%; font-family: 'Times New Roman', Times, serif" name="description" type="text" /> <br />
       <br />
        <input style="color: whitesmoke;margin-left:10%;background-color: navy;padding:15px; font-size:15px;font-family: 'Times New Roman', Times, serif"type="submit" name="submit" value="submit" />
    </form>
    </div>
  </div>
</body>
</html>