<div style="margin:2%">
  {{#events}}
    <div>
        <h2 style="color: black; margin: 0; padding: 10px; width:300px; background-color: limegreen; font-family: 'Times New Roman', Times, serif">{{ title }}</h2>
        <h3 style="color: black; margin: 0; padding: 10px; width:300px; background-color: lightgray; font-family: 'Times New Roman', Times, serif">{{ description }}</h3>
    </div>
  {{/events}}
</div>

<!--color: black; margin: 0; padding: 10px; background-color: #FFFDD0; font-family: 'Times New Roman', Times, serif-->