<ul >
  {{#events}}
    <li>
        <h2 style="color: black; margin: 0; padding: 10px; width:300px; background-color: #FFFDD0; font-family: 'Times New Roman', Times, serif">{{ title }}</h2>
        <h3 style="color: black; margin: 0; padding: 10px; width:300px; background-color: #FFB6C1; font-family: 'Times New Roman', Times, serif">{{ description }}</h3>
    </li>
  {{/events}}
</ul>

<!--color: black; margin: 0; padding: 10px; background-color: #FFFDD0; font-family: 'Times New Roman', Times, serif-->